.holder {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
	flex-direction:row;
	align-items:end;
}
.box{
	width:200px;
	height:200px;
	color:black;
	border:1px solid black;
}
#a{
	height:200px;
	background-color:green;
}
#b{
	height:200px;
	background-color:red;
}
#c{
	height:200px;
	background-color:blue;
}
